@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "IncompleteOrders";
}

<h1>Incomplete Orders</h1>


<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <h2>
                    @Html.DisplayFor(modelItem => item.User.FullName )
                </h2>

                <h3>
                    Order: @Html.DisplayFor(modelItem => item.OrderId)
                </h3>
                @foreach (var i in item.OrderProducts)
                {
                    <p>
                        @Html.DisplayFor(modelItem => i.Product.Title)
                    </p>
                }

            </tr>
        }
    </tbody>
</table>
